<!doctype html>
<html lang="pl-pl">
    <head>
        <title>Lista bramek proxy</title>
        <link rel="stylesheet" href="/style.css">
        {% if description_widoczny %}
            <meta name="description" content="Spis bramek proxy posortowany według szybkości. Przy każdym proxy podany jest kraj, czas odpowiedzi oraz adres IP.">
        {% endif %}
        <meta name="geo.country" content="pl">
        <script>
            if (top != self) top.location.replace(self.location.href);
            google_analytics_uacct = 'UA-982656-3';
            google_analytics_domain_name = '';
        </script>
    </head>
    <body>
        {% if nieklikalny_naglowek %}
            <header><h1>Spis bramek proxy</h1></header>
        {% else %}
            <header><h1><a href="/">Spis bramek proxy</a></h1></header>
        {% endif %}
        <br><br>
        <div class="boksy">
            <script>
                google_ad_client = 'pub-4792260451303469';
                google_ad_slot = '2914974447';
                google_ad_width = 970;
                google_ad_height = 90;
                google_enable_async = false;
                google_language = 'pl';
                google_hints = 'lista bramek proxy, bramki proxy, lista proxy, proxy';
                google_adtest = 'on';
            </script>
            <script src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>
        </div>
        <div id="content">
            {% block glowna_zawartosc %}{% endblock %}
            <br>
            <footer>
                <div class="boksy">
                    <br><br>
                    <div>
                        <script>
                            google_ad_client = 'pub-4792260451303469';
                            google_ad_slot = '8961508049';
                            google_ad_width = 970;
                            google_ad_height = 90;
                            google_enable_async = false;
                            google_language = 'pl';
                            google_hints = 'lista bramek proxy, bramki proxy, lista proxy, proxy';
                            google_adtest = 'on';
                        </script>
                        <script src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>
                    </div>
                    <br>
                    <a href="/dodaj">Dodaj nowy proxy</a>
                    <br><br>
                    <a href="http://centrump2p.com/" rel="nofollow">Forum Centrum P2P</a>
                    {% if dluga_stopka %}                    
                        <br><br><br>
                        <a href="mailto:admin@prx.centrump2p.com">admin@prx.centrump2p.com</a> |
                        <a href="http://creativecommons.org/licenses/by/3.0/pl/">CC BY</a><br>
                        <a href="http://sprawdzanieip.com/">Twój adres IP</a>: {{ adres_ip_klienta }}
                    {% endif %}
                </div>
            </footer>
        </div>
        <script src="http://www.google-analytics.com/ga.js"></script>
        <script>
            if (typeof(_gat) == 'object') {
                pageTracker = _gat._getTracker('UA-982656-3');
                pageTracker._setDomainName('none');
                pageTracker._trackPageview();
            }
        </script>
    </body>
</html>
